@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;800');

body {
	background-color: #efcfff;
	font-family: 'Cardo', serif;
}

li {
	list-style-type: none;
	margin-left: 10px;
	margin-bottom: 10px;
}

p {
	text-indent: 25px;
}

.container-outer.dark{
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	background-color: #080308;
}
.container {

	&.dark {
		color:#fbeaff;
		h1 {
			color:#d59d00;
		}
		h2 {
			color:#d99f00;
		}
		p {
			line-height: 1.5;

		}
	}
	max-width: 600px;
	@media (min-width: 600px) {
		margin-left: 100px;
		margin-top: 30px;
	}
	margin-bottom: 200px;

	h3 {
		margin-top:40px;
	}
	img {
		max-width:100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}