@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;800');

body {
	background-color: #ffd2cf;
	font-family: 'Cardo', serif;
}

li {
	list-style-type: none;
	margin-left: 10px;
	margin-bottom: 10px;
}

p {
	text-indent: 25px;
}

.container {
	max-width: 600px;
	@media (min-width: 600px) {
		margin-left: 100px;
		margin-top: 30px;
	}
	margin-bottom: 200px;
}